---
// layouts
import Layout from '../layouts/Layout.astro';
---
<style>
details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '/';
}

details[open] > summary::before {
    content: '/';
}
</style>

<Layout />
<p style="margin-bottom: 30px;">
	salut, je m'appelle <a><kbd>krissh</kbd></a>, un développeur en france
</p>
<label for="contactes">contactez moi:</label>
<div style="margin-bottom: 30px; margin-top: 10px;">
	<button onclick="window.open('https://github.com/kkrriisssshh', '_blank');">
		[gh]
	</button> 
	<button onclick="window.open('mailto:krissh@krissh.wtf', '_blank');">
		[@]
	</button>
	<button onclick="window.open('https://discordapp.com/users/614125638898548756', '_blank');">
		[dc]
	</button>	
</div>
<label for="projets">mes projets favoris:</label>
<details style="margin-top: 10px;">
	<summary>ebahi</summary>
	<a href="http://github.com/kkrriisssshh/ebahi" target="_blank" rel="noopener noreferrer">[code source]</a>
	<p>
		un wrapper en nim pour le l'api privée d'utilisateur de discord
	</p>
</details>
<details style="margin-bottom: 50px;">
	<summary>catpad</summary>
	<a href="http://github.com/kkrriisssshh/catpad" target="_blank" rel="noopener noreferrer">[code source]</a>
	<p>simple site internet pour écrire des notes</p>
</details>
