---
// js
const date = Date.now();
---

<header>
    <h1>
        krissh
    </h1>
    <nav>
        <a href="/">à-propos</a>
        /
        <a href="/blog">blog</a>
    </nav>
    <p>{date}</p>
</header>
